* {
  margin: 0;
  padding: 0;
}
html {
  color: #bfbfbf;
  background: #1f1f1f !important;
  position: relative;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
input,
select,
textarea,
button {
  color: #bfbfbf;
  background-color: #1f1f1f;
}
font {
  color: #bfbfbf;
}

.nav-heading {
  font-size: larger;
  font-weight: bold;
  margin-top: 0.5%;
}
nav {
  align-items: center;
  display: flex;
  flex-direction: column;
}

nav .board-inputs {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 0.5%;
}
nav .algorithms {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5%;
}
#i_gen {
  margin-top: 0.5%;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #413737;
  padding: 0.5% 1%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
#arrayBoard {
  flex: 25;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
